files: 'screenpy_requests/.*'
fail_fast: false
repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
  - id: black
    language_version: python3.11
- repo: https://github.com/timothycrosley/isort
  rev: 5.11.4
  hooks:
  - id: isort
    language_version: python3.11
- repo: https://github.com/PyCQA/flake8
  rev: 6.0.0
  hooks:
  - id: flake8
    language_version: python3.11
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.991
  hooks:
  - id: mypy
    language_version: python3.11
    additional_dependencies: ["types-requests==2.25.0"]
- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: pylint --max-line-length=88 --disable=bad-continuation --disable=no-self-use --disable=too-few-public-methods --disable=invalid-name --disable=wrong-import-order --disable=import-error --disable=super-init-not-called --disable=duplicate-code --disable=logging-format-interpolation --disable=logging-fstring-interpolation
    language: system
    types: [python]
